@model IEnumerable<ConCon.Models.SimilarPerformerViewModel>
@{
    ViewBag.Title = "SearchSimilar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Similar Artists</h2>

@using (Html.BeginForm("MapView", "Map"))
{
    <input type= "submit" value= "View Artist's Events" class="btn btn-default" />
    @Html.AntiForgeryToken();
<div>
    <table>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                <p> % Match </p>
            </th>
            <th>
                <p>Search Tickets</p>
            </th>

        </tr>
        @foreach (ConCon.Models.SimilarPerformerViewModel performer in Model.OrderByDescending(performer => performer.score))
        {
            @Html.Hidden(performer.name.ToString());
            //ConCon.Models.SimilarPerformerViewModel perf = new ConCon.Models.SimilarPerformerViewModel();
            //perf.id = performer.id;
            <tr>
                <th>
                    @if (performer.image != null)
                    {
                        <img src="@Html.DisplayFor(modelItem => performer.image)" alt="No Image" />
                    }
                    else
                    {
                        <img src="http://4vector.com/i/free-vector-default-profile-picture_099397_Default_Profile_Picture.png" alt="No Image" style="height: 10% ; width: 10%" />
                    }
                </th>
                <th>
                    @Html.DisplayFor(modelItem => performer.name)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => performer.score)% Match
                </th>
                <th>
                    <a href="@Html.DisplayFor(modelItem => performer.url)">Check For Tickets</a>
                </th>
            </tr>

        }
    </table>
</div>

}